 label.logo
 {
 	color: black;
 	padding: 0 80px;
 	width: 50%;
 	height: 10%;
 }

 ul
{
	width: auto;
	float: right;
	margin-top: 8px;
}

li
{
	display: inline-block;
	padding: 15px 40px;
	font-family: Cambria Math;
}

a
{
	text-align: center;
	color: black;
	text-decoration: none;
	font-family: 'Yellowtail', cursive;
	font-size: 1.2vw;
}

a:hover
{
	color: #30f043;
	transition: 0.5s;
}

body
{
	background-color: #FFF4C2;
}

 nav
 {
 	background:#CCCCFF;
 	height: 80px;
 }

h1
{
	text-align: center;
	color: #990066;
	font-size: 30px;
	font-family: 'Yellowtail', cursive;
}

.slider-frame
{
	overflow: hidden;
	height: 600px;
	width: 1000px;
	margin-left: 400px;
	margin-top: 30px;
}

@-webkit-keyframes slide_animation
{
	0%{left: 0px;}
	10%{left: 0px;}
	20%{left: 1200px;}
	30%{left: 1200px;}
	40%{left: 2400px;}
	50%{left: 2400px;}
	60%{left: 1200px;}
	70%{left: 1200px;}
	80%{left: 0px;}
	90%{left: 0px;}
	100%{left: 0px;}
}

.slide-images
{
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration:20s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state:running;
}

.img-container
{
	height: 800px;
	width: 1200px;
	position: relative;
	float: left;
}

footer 
{
  text-align: center;
  padding: 10px;
  background-color:#000066;
  color: white;
  font-family: Arial;
  font-size: 15px;
  margin-top: 30px;
}

h2
{
	color: white;
}

h3
{
	color: #000000;
	margin: 10px 300px 10px 300px;
	text-align: justify-all;
	font-family: Helvetica;
	letter-spacing: 1px;
}
h4
{
	color: black;
	font-size: 18px;
	font-family: Helvetica;
}

.fa
{
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	position: relative;left: 80%;right: 20%;
}

.fa-facebook
{
	background:#3B5998;
	color: white;
}

.fa-instagram
{
	background:#FF5E0E;
	color: white;
}

.fa-twitter
{
	background:#55ACEE;
	color: white;
}

.fa-youtube
{
	background:#F71B28;
	color: white;
}

.fa-whatsapp
{
	background: #34E118;
	color: white;
}

.text
{
	padding-right: 400px;
	text-align: justify;
	font-family: Helvetica ;
	align-items: center;
}
